#main{
    display: grid;
    width: 100vw;
    padding: var(--spacing-m) 10vw;
    grid-template-areas: "a b b b b c c"
                         "g b b b b c c"
                         "d d e f f f f"
                         "d d h f f f f";
    grid-gap: var(--spacing-m);
}

#main img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ffImageOne{
    grid-area: a;
}

#ffImageTwo{
    grid-area: b;
}

#ffImageThree{
    grid-area: c;
}

#ffImageFour{
    grid-area: d;
}

#ffImageFive{
    grid-area: e;
}

#ffImageSix{
    grid-area: f;
}

#ffText{
    grid-area: g;
}

#ffNoBlock{
    grid-area: h;
}