#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: var(--background-block);
    border-left: 1px solid var(--border-color);
}

#progressBar{
    position: fixed;
    top: 0;
    right: 0;
    width: 3px;
    height: 0;
    background: var(--kold-blue);
    filter: blur(4px);
    z-index: 3;
}