#preloader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: var(--kold-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloaderElement{
    width: 8vw;
    height: 8vw;
    background: #000;
}

.preloaderElement:not(:last-child){
    margin-right: 2vw;
}

#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}